- page_title "#{@snippet.title} (#{@snippet.to_reference})", "Snippets"

= render 'shared/snippets/header'

%article.file-holder.snippet-file-content
  = render 'shared/snippets/blob', raw_path: raw_snippet_path(@snippet), download_path: download_snippet_path(@snippet)

.row-content-block.top-block.content-component-block
  = render 'award_emoji/awards_block', awardable: @snippet, inline: true

%ul#notes-list.notes.main-notes-list.timeline
  #notes= render 'shared/notes/notes'
